/* 白天背景图 */
.hope-ui-light {
  background-image: url("https://api.vvhan.com/api/wallpaper/views") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}

/* 夜间背景图 */
.hope-ui-dark {
  background-image: url("https://pic.rmb.bdstatic.com/bjh/ebe942a9de49856f389c65f25a338335.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}
